<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Franck Marche - Votre coach sportif</title>
</head>
<body>

<header class="mainpage_header">
    <div class="mainpage_logo">
        <a href="/">
            <img src="/img/z.png" alt="">
        </a>
    </div>

    <nav class="mainpage_nav">
        <a href="/coach">Qui Est Franck ?</a>
        <a href="/programs">Nos Programmes</a>
        <a href="/contacts">Contacts</a>
    </nav>
</header>
