<%- include('partials/header') %>

<header class="coach_page-header">
    <div class="contact_page-title programmes-image">
        <h1>FRANCK MARCHE</h1>
    </div>    
</header>

<section class="coach_page-parcours">
    <div class="coach_page-image-parcours">
        <img src="/img/Franck_Marche.jpg" alt="">
    </div>
    <div class="parcours-text">
        <h1>Qui suis-je ?</h1>
        <p>Avant d'être coach, j'ai pratiqué l'athlétisme, le football et le basket pendant plus de 30 ans. Ancien étudiant de l'INSEP à Paris de 1983 à 1986, j'y pratique également la boxe, le rugby, le kendo et la boxe. Aujourd'hui, je propose mes services à tous ceux qui souhaitese refaire une santé, ou bien parfaire et développer leur préparation mophysique, quel que soit votre âge !</p>
    </div>  
</section>

<section class="coach_page-citation">
    <p>"Décathlonien avant tout, j'ai arrêté de pratiquer depuis 2003 pour me consacrer exclusivement à l'entraînement de jeunes athlètes, ainsi qu'à l'éducation physique en école primaire. Préparateur physique et technique dans de nombreux clubs sportifs, je me consacre également à l'entrainement des seniors et à l'entretienphysique des vétérans"</p>
</section>





<%- include('partials/footer') %>