<%- include('partials/header') %>

<main class="mainpage_image">
    <h1>Devenez un champion !</h1>
    <h2>Vous envisagez de mettre un projet sportif en place ? Ne cherchez pas plus loin, bous êtes au bon endroit ! <br> Que ce soit un projet scolaire, personnel ou bien associatif, Franck saura vous aiguiller et vous préparer le programme le plus adapté à vos objectifs.</h2>
</main>

<section class="mainpage_presentation">
    <header class="presentation_header">
        <h1>gardez la forme avec votre coach sportif</h1>
        <h2>Pourquoi faire du sport et de l'entretien physique toute sa vie ? Les activités sportives englobent les disciplines pratiquées en club ou en association et qui impliquent des entraînements réguliers menés à un rythme soutenu, avec éventuellement l'objectif de réaliser des performances. Vous faites naturellement partie d'une de ces classses, et comme chaque candidat est unique, de par son passé sportif, de sa condition actuelle et de ses objectifs, nous vous communiquerons un programme individuel, le plus adapté à vos envies</h2>
    </header>

    <div class="presentation_main-container">
        <article class="presentation_article-card">
            <a href="/programs/1" class="presentation_card-link">
                <img src="/img/interieur.jpg" alt="" class="presentation_card-image">
                <p class="presentation_card-text">Domicile</p>
            </a>
        </article>

        <article class="presentation_article-card">
            <a href="/programs/2" class="presentation_card-link">
                <img src="/img/renforcement.jpg" alt="" class="presentation_card-image">
                <p class="presentation_card-text">Renforcement</p>
            </a>
        </article>

        <article class="presentation_article-card">
            <a href="/programs/3" class="presentation_card-link">
                <img src="/img/exterieur.jpg" alt="" class="presentation_card-image">
                <p class="presentation_card-text">Exterieur</p>
            </a>
        </article>

        <article class="presentation_article-card">
            <a href="/programs/4" class="presentation_card-link">
                <img src="/img/entreprise.jpg" alt="" class="presentation_card-image">
                <p class="presentation_card-text">Entreprise</p>
            </a>
        </article>

        <article class="presentation_article-card">
            <a href="/programs/5" class="presentation_card-link">
                <img src="/img/ecole.jpg" alt="" class="presentation_card-image">
                <p class="presentation_card-text">Ecole</p>
            </a>
        </article>

        <article class="presentation_article-card">
            <a href="/programs/6" class="presentation_card-link">
                <img src="/img/senior.jpg" alt="" class="presentation_card-image">
                <p class="presentation_card-text">Senior</p>
            </a>
        </article>
    </div>

</section>

<section class="mainpage_contact">
    <header class="mainpage_contact-header">
        <h1>Votre coach sportif</h1>
    </header>

    <div class="mainpage_contact-main">
        <div class="mainpage_contact-description">
            <p>Diplomé • Expérimenté • Exclusif</p>
        </div>
        <div class="mainpage_contact-button"> 
            <a href="/contacts">Contacter</a>
        </div>
    </div>
</section>

<section class="mainpage_distinction">
    <header class="distinction_header">
        <h1>des atouts qui font notre force</h1>
        <h2>Votre Coach vous propose un service personnalisé dont voici les points forts</h2>
    </header>

    <div class="disctinction_main-container">
        <article class="distinction_article-card">
            <img src="/img/agenda.png" alt="" class="disctinction_card-image">
            <h2 class="disctinction_card-title">Disponibilité</h2>
            <div class="trait"></div>
            <p class="disctinction_card-text">Franck propose ses séances 7j/7 de 7 heures du matin à 20 heures le soir. Vous trouverez donc votre bonheur pour la planification de vos séances de sport.</p>
        </article>

        <article class="distinction_article-card">
            <img src="/img/horloge.png" alt="" class="disctinction_card-image">
            <h2 class="disctinction_card-title">Réactivité</h2>
            <div class="trait"></div>
            <p class="disctinction_card-text">Nous profitons de votre motivation pour faire démarrer au plus vite vos séances. De ce fait notre coach est hyper réactif et vous permet de débuter votre programme en quelques heures.</p>

        </article>

        <article class="distinction_article-card">
            <img src="/img/diplome.png" alt="" class="disctinction_card-image">
            <h2 class="disctinction_card-title">Professionalisme</h2>
            <div class="trait"></div>
            <p class="disctinction_card-text">Franck est un coach diplômé d'un brevet d'Etat obtenu en XXXX, il a étudié à l'INSEP (L'Institut national du sport, de l'expertise et de la performance) de 1983 à 1986. il saura vous concocter le programme personnalisé le plus adapté et le plus propice à vous emmener vers vos objectifs</p>

        </article>

        <article class="distinction_article-card">
            <img src="/img/securite.png" alt="" class="disctinction_card-image">
            <h2 class="disctinction_card-title">Sécurité</h2>
            <div class="trait"></div>
            <p class="disctinction_card-text">Sécurité des séances avec notre coach diplômé détenteur d'une formation de prévention de secours & sécurité des paiements avec une plateforme sécurisée qui vous permet d'acheter en toute sérénité vos séances.</p>

        </article>
    </div>

</section>

<%- include('partials/footer') %>
