<%- include('partials/header') %>

<h1 class="contact_page-title programmes-image">
    Choisissez le programme qui vous correspond :
</h1>

<main class="programs-main">
    <% for (const program of programs) { %>
        <div class="programs-main-container">
            <a href="/programs/<%= program.id %>"><%= program.name %></a>
        </div>
    <% } %>
</main>





<%- include('partials/footer') %>
